<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <rule name="heartguardwx">
                    <match url="^(.*)" />
                    <conditions>
                        <add input="{HTTP_HOST}" pattern="^heartguardwx.xzkf365.com$" />
                    </conditions>
                    <action type="Rewrite" url="http://localhost:1543/{R:1}" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>
